:root {
	--color-primary: #2584ff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/* 1rem = 10px*/
	font-size: 62.5%;
}
html li{
   list-style:none;
}


body{
    background-color: rgba(3, 204, 137, 0.295);
    min-height: 100vh;
}
#root{
   width: 80%;
   margin: auto;
   background-color: aliceblue;
   padding: 2rem;
   min-height: 100vh;
}
html * {
   font-size: 2rem;
}
.routes{
   background-color: rgb(35, 29, 48) !important;
   min-height: 20rem;
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   flex-direction: column;
   align-items: center;
   color: white;
 }
 a{
   text-decoration: none;
 }
.nav-bar__ul{
   display: flex;
   font-size: 3rem;
   /* background-color: #2584ff; */
   width: 70%;
   justify-content: space-around;
}
 .routes div{
   font-size: 4rem;
 }
 .active{
   background-color: rgb(30, 35, 35);
   padding: .5rem 1.4rem;
   color: white;
   border-radius: .5rem;
   
 }
