:root {
   --color-primary: rgb(172, 30, 188);
   --color-secondary: rgb(60, 15, 65);
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   /* 1rem = 10px*/
   font-size: 62.5%;
   font-family: poppins;
}

html * {
   font-size: 2rem;
}

body {
   background-color: rgba(3, 204, 137, 0.295);
}

.main_div {
   width: 100%;
   height: 100vh;
   background-color: rgb(41, 106, 146);
   display: flex;
   justify-content: center;
   align-items: center;
}

.center_div {
   background-color: #fafafa;
   padding: 2rem 0;
   /* max-height: 40rem; */
   min-height: 50rem;
   width: clamp(400px,60%,600px);
   border-radius: 1rem;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.409);
   /* width: 22rem; */
   display: flex;
   flex-direction: column;

}

.todo-name {
   color: white;
   background-color: var(--color-primary);
   width: 100%;
   text-align: center;
   padding: 1.6rem 0;
   font-size: 2.6rem;
}

input {
   border: none;
   margin-left: 1rem;
   border-bottom: 3px solid var(--color-primary);
   text-align: center;
   padding-bottom: .4rem;
   align-self: center;
}
.input_div{
   align-self: center;
}

input:focus {
   /* border: none; */
   border-bottom: 3px solid var(--color-secondary);
   outline: none;
}

.add-btn {
   background-color: var(--color-primary);
   color: white;
   width: 3rem;
   aspect-ratio: 1;
   border-radius: 50%;
   border: none;
   cursor: pointer;
   outline: none;
}

.add-btn:hover {
   background-color: rgb(9, 143, 60);
}

.list {
   list-style: none;
   margin-top: 2rem;
   margin-left: 2rem;
   color: rgb(73, 73, 73);
   font-style: italic;
   /* white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; */

   /* border: 2px solid black; */
   width: 90%;
}

li {
   position: relative;
   cursor: default;
   padding: 1rem;
   transition: all .2s;
   display: flex;
   justify-content: flex-start;

}
li:hover{
   color: white;
   /* padding: auto 4rem; */
   background-color: rgb(141, 36, 141);

}
li::first-letter{
   text-transform: capitalize;
}

.delete-btn {
   background-color: red;
   color: white;
   position: relative;
   width: 2.5rem;
   aspect-ratio: 1;
   cursor: pointer;
   border-radius: 50%;
   border: none;
   position: absolute;
   display: none;
   right: 10px;
   top: 50%;
   translate:0 -50%;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 2px 2px 4px rgb(0, 0, 0);

   outline: none;
}

li:hover .delete-btn {
   display: block;
}